html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: transparent;
  width: 60%;
  height: 5em;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
}

.navbar-img {
  width: 40px;
  height: 40px;
  margin-left: 2vw;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1000;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  font-weight: bold;
  color: blue;
  font-size: 40px;
}

.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 600px;
  height: 55vw;
  max-height: 489px;
  background-color: white;
  border: 2px solid blue;
  text-align: center;
}
.login-section > h1 {
  font-size: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.login-form > input {
  max-width: 240px;
  max-height: 45px;
  height: 45px;
  width: 240px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}

.login-input > input {
  width: 450px;
  max-width: 500px;
  max-height: 45px;
  height: 45px;
  border: 2px solid blue;
  border-radius: 10px;
  margin-top: 10px;
  align-self: center;
}

.login-input {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 100px;
}

.signup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 50vw;
  background-color: white;
  border: 2px solid blue;
  max-width: 600px;
  max-height: 489px;
  text-align: center;
}

.signup-section h1 {
  margin-bottom: 2vw;
}

.signup-btn {
  max-width: 240px;
  max-height: 45px;
  height: 45px;
  width: 240px;
  background-color: transparent;
  color: blue;
  border-radius: 10px;
  border: 2px blue solid;
  font-size: 20px;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2vw;
}

.search-bar {
  height: 50px;
  border-radius: 5px;
  width: 60%;
  border: 2px blue solid;
}

.cards-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 20px;
  padding: 20px;
}

.question-card {
  width: 100%;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.question-card h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #333;
}

.question-card p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  width: 50px;
  height: 50px;
  border: 2px blue solid;
  background-color: transparent;
  font-size: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.plus-a {
  text-decoration: none;
}

/*------------------------------- responsive section------------------- */

@media (max-width: 768px) {
  .login-section {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 600px;
  }
  .signup-section {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 600px;
  }
}

@media (max-width: 576px) {
  .logo {
    font-size: 30px;
  }

  /* .signup-section {
      font-size: 10px;
    }
  
    .signup-section input {
      font-size: 10px;
    } */

  .login-input {
    width: 100%;
  }
  .login-input > input {
    width: 100%;
  }

  .login-input label {
    margin-left: 5%;
  }

  /* .login-btn {
      width: 100px;
    }
  
    .signup-btn {
      width: 100%;
    } */
}
